img {
    height:130vh;
}

.images {
    opacity:0.5;
    opacity:0;
    
    position:absolute;
    z-index:-1;
    left:0;
    top:0;
    
}

.container {
    display:flex;
    flex-flow: row wrap;
    align-content: flex-start;
    width:100vw;
    height:100vh;
    
/*    background:blue;*/
}

div[class^='unit'], div[class*=' unit'] {
    width:5%;
    height:3%;
    overflow:visible;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    
/*    border: 1px solid green;*/
/*    background:pink;*/
}

.character {
    font-size:5vw;
    color:#44ED00;
    opacity:.4;
    transition: opacity .5s;
    position:relative;
/*    text-shadow: 15px 15px 1px darkgreen;*/
    
}

.character:hover, .character:active {
    opacity:1;
    cursor:grab;
}

/*TEXT SHADOW*/
.drawing::before {
    color: rgba(0,0,0,1);
    content: "青";
    position: absolute;
    left: var(--drawingAfterLeft, -65%);
    bottom:60%;
    z-index: -1;
    
    transform-origin: bottom center;
/*    transform: skew(50deg) scale(1,2) rotateX(180deg);*/
    transform: var(--drawingAfterTransform, skew(50deg) scale(1,2) rotateX(180deg));
    opacity:.1;
    
    pointer-events: none;
}

.drawing:hover::before, .drawing:active::before {
    opacity:.3;
}
